@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-yl {
  text-shadow: 0 0 10px #ffe500;
}

.text-shadow-bl {
  text-shadow: 0 0 10px #000000;
}

.text-shadow-wh {
  text-shadow: 0 0 10px #ffffff;
}

.bg-green {
  background-color: #00330f;
  background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
}

.bg-green-black {
  background-color: #000f05;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.bg-join-us {
  background-color: #000f05;
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
}

.bg-stats {
  background-color: #001411;
  background-image: url("https://www.transparenttextures.com/patterns/snow.png");
}

.bg-media {
  background-color: #1a180a;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
}

@keyframes typing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typing-text {
  animation: typing 4s steps(60);
}

.hero-section {
  background: url("/FRONTEND/src/assets/backgrounds/bg-home.jpg") no-repeat
    center center fixed;
  background-size: cover;
}

.placeholder-black::placeholder {
  color: black;
  font-weight: bolder;
  opacity: 0.6;
}
